// Here you can add other styles

//background: #2a3c4e;
$border-color: #23282c;
$background-color: #3c8dbc;
$body-background-color: #2a3c4e;
$active-background-color: #171717;
$text-color: white;
body {
    .app-header {

        background: $background-color;
        border-bottom: 1px solid $border-color;

        .navbar-toggler-icon {
            color: $text-color;
            background-image: url('data:image/svg+xml;charset=utf8;base64,PHN2ZyB2aWV3Qm94PScwIDAgMzAgMzAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggc3Ryb2tlPScjYzhjZWQzJyBzdHJva2Utd2lkdGg9JzIuMjUnIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLW1pdGVybGltaXQ9JzEwJyBkPSdNNCA3aDIyTTQgMTVoMjJNNCAyM2gyMicvPjwvc3ZnPg==') !important;
        }

        .navbar-brand {
            color: $text-color;
        }
    }

    .app-header > .navbar-nav > .nav-item > a {
        color: $text-color;
    }
}
